
@media screen and (max-width: 375px){
  $Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);
$Almost-White: hsl(0, 0%, 98%);
  body{
    width: 375px;
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  .container{
    margin-top: 1rem;
width: 100%;
height: 100%;
box-sizing: border-box;
padding: 10px;
  }
  header{
    box-sizing: border-box;

    .menu{
      width: 50%;
      margin-left:11rem;
    }
    .sidebar{
      box-sizing: border-box;
      padding: 0 20px;
      margin-bottom: 1rem;
      position: fixed;
      right: 0;
      bottom: 0;
      top:0;
       background-color: #fff;
         box-shadow: 1px 1px 3px   $Medium-Gray;
      width: 52%;
      .close{
      height: 25px;
     margin-left: 8.5rem;
     margin-top: 1rem;
     
      }
      .user{
        display: flex;
        flex-direction: column;
        .btn{
          padding: 8px 15px;
          border: 1.5px solid $Medium-Gray;
          border-radius: 10px;
          text-align: center;
          color: $Medium-Gray;
          background-color: $Almost-White ;
          cursor: pointer;
         }
         .btn:first-child{
          border: none;
          margin-right: 1.5rem;
         }
         .btn:hover{
          color:$Almost-Black;
         }
      }
      .nav1{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:8.8rem;
        align-items: start;
        .nav-items{
          display: flex;
          align-items: center;
          cursor: pointer;  
        }
        .tooltip{
          visibility: hiddn;
         opacity: 0.8;
        }
        .dropdown1{
          width: 100px;
          top:3.5rem;
        }
        .dropdown2{
          width: 65px;
          text-align: center;
          height: 75px;
            top:13.5rem;}
            .dropdown1,.dropdown2{
              display: flex;
              flex-direction: column;
              position: absolute;
              z-index:-100;
              gap: 14px;
              color: $Medium-Gray;
              padding: 13px;
              border-radius: 5px;
        
                li{
                  display: flex;
                  align-items: center;
                }
              span{
                font-size:14px;
              }
            }
            .others{
              display: flex;
              flex-direction: column;
              gap: 1.5rem;
            }
          
        
      }
    }
    .group{
      .snap{
   width: 70%;
      }
      .nav{
        display: none;
      }
    }
    button{
      display: none;
    }
  }
main{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .left-section{
    margin: 0;
    padding: 0;
    h1{
      font-size: 2rem;
      text-align: center;
    }
  p{
    margin-top: -6px;
    font-size: 14px;
    text-align: center;
    color: $Medium-Gray;
  }
  button{
    margin-top: 5px;
margin-left: 35%;
color: $Almost-White;
cursor: pointer;
&hover{
  color: $Almost-Black;
  background-color: #fff;
}
  
  }
  img{
    width: 10%;
    margin-bottom: 15px;
  }
  }
.right-section{
  order: -1;
  img{
    width: 300px
  };
}
  
}
}
}